<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/binary-tree.png') }}">
    <title>Visify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<style>
    body {
        height: 100vh;
        width: 100vw;
        background-color: hsla(0, 0%, 0%, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<body>
    {% block body %}
    {% endblock %}
</body>

</html>