{% extends "base.html" %}
{% block body %}
    <div style="height: auto; width: auto; display: grid; grid-template-columns: repeat({{ width }}, 4rem); grid-template-rows: repeat({{ height * 2 }}, 4rem);">
        {% for graph in nodes %}
            {% for level in graph %}
                {% for node in graph[level] %}
                    <div style="display: flex; justify-content: center; align-items: center; grid-row: {{ node[2] * 2 }}; grid-column: {{ level }};">
                        <span style="height: 4rem; width: 4rem; border: 2px solid black; border-radius: 50%; display: flex; justify-content: center; align-items: center; font-family: monospace; font-size: 1.25rem; border-radius: 50%; background-color: white;">
                            {{ node[1] }}
                        </span>
                        <svg height="{{ height * 2 * 64 }}" width="{{ 1024 }}" style="position: absolute; top: 0; z-index: -1;" xmlns="http://www.w3.org/2000/svg">
                            {% for col in node[0] %}
                                {% set y1 = node[2] * 2 * 64 - 32 %}
                                {% set y2 = col * 2 * 64 - 32 %}
                                <line x1="{{ 512 }}" y1="{{ y1 }}" x2="0" y2="{{ y2 }}" style="stroke:black;stroke-width:2"/>
                            {% endfor %}
                        </svg>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}