{% extends "base.html" %}
{% block body %}
<style>
    body {
        overflow-x: hidden;
    }

    h1 {
        text-shadow:
            0 0 5px rgba(0, 0, 240, 0.8),
            0 0 10px rgba(0, 0, 240, 0.6),
            0 0 15px rgba(0, 0, 240, 0.4);
    }

    form {
        width: 35%;
        padding: 3rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    input {
        height: 2rem;
        width: 18rem;
        font-family: monospace;
        font-size: 1rem;
        border: none;
        border-radius: 8px;
        padding: 0rem 1rem;
        color: white;
        background-color: hsla(0, 0%, 20%, 0.8);
    }

    input:focus {
        outline: none;
    }

    button {
        border: none;
        border-radius: 8px;
        color: white;
        background-color: hsl(209, 60%, 48%);
        font-family: monospace;
        font-size: 0.75rem;
        cursor: pointer;
        transition: all 0.1s;
    }

    button:active {
        transform: scale(0.94);
    }
</style>
<div class="home-container">

    <h1 class="category-header">Binary Trees</h1>
    <form method="post" action="/trees/submit">
        <div class="form">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <input type="text" name="tree_input" autocomplete="off" placeholder="TreeNode Array" />
                <button type="submit" style="height: 2rem; width: 4rem;">Submit</button>
            </div>
            <p>
            <p
                style="font-family: monospace; font-size: large; color: hsl(209, 60%, 48%); text-align: center; margin-top: 1rem;">
                Provide
                an array of elements
                that represents
                the tree
                structure, populated
                using a breadth-first search
                (BFS) traversal</p>
            </p>
            <p class="input-example" style="margin-top: 1rem;">- Example: [1, 2, 3, 4, 5, 6, 7]</p>
        </div>
    </form>
</div>
{% endblock%}